/* Estilos personalizados para General.js */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .image-container a {
    position: relative;
    margin: 0 10px;
    overflow: hidden;
    text-decoration: none;
  }
  
  .image-container img {
    width: 5%;
    transition: transform 0.3s ease-in-out;
  }
  
  .image-container .image-caption {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(-100%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  
  .image-container a:hover img {
    transform: scale(1.2);
  }
  
  .image-container a:hover .image-caption {
    visibility: visible;
    opacity: 1;
  }
  