.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 form{
    border: 1px solid black;
    width: 50vw;
    height: 50vh;
    display: flex;
     flex-direction: column;
     justify-content: space-evenly;
        align-items: center; 
 }
 form input[type="text"]{
    width: 50%;
 }
 .buttons{
    display: flex;
    justify-content: space-between;
    width: 50%;

 }